@{
    ViewBag.Title = "About";
}

<br />
<h1 class="text-info text-center display-4 font-weight-bold">About Us</h1>
<hr /><br />
<p class="text-info" style="font-weight:bold;">Final Project Group 7</p>
<p>This project is for IT3047C - <span style=font-weight: bold;">Web Server Application Development </span>- University of Cincinnati</p> <br />

<p>Project: Games is a MVC application that enables users to add and document on their favorite games. Users can add, rank, edit and delete a various collection of their games. </p>
<p>
    Categories of Games include:

        <ul>
            <li>Video Games</li>
            <li>Board Games</li>
            <li>Card Games</li>
        </ul>
</p>
<p>The structure of the database and application were inspired by Assignments & Projects from <span style="font-weight: bold;">Module 5 - "Temp Manage"</span> <br /> and <span style="font-weight: bold;">Module 11 - "Movie Genres"</span></p>
<br />

<p>Select 'Home' in the upper navigation menu to add your favorite game!</p>
<hr />


<p class="text-info" style="font-weight: bold;">Authors</p>
<ul>
<li>Austin Kirk</li>
<li>Benjamin Gomori</li>
<li>Brandon Zachary</li>
<li>Christopher Elbe</li>
<li>Johnathan Otten</li>
</ul>



