@{
    ViewBag.Title = "About";
}
<br />
<h1>About Us</h1>
<hr /><br />
<p style="font-weight:bold;">Final Project Group 7</p>
<p>This project is for IT3047C Web Server Application Development - University of Cincinnati</p> <br />

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. 
Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. 
Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. 
Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
<br /><hr />

<p style="font-weight: bold;">Authors</p>
<ul>
    <li>Austin Kirk</li>
    <li>Benjamin Gomori</li>
    <li>Brandon Zachary</li>
    <li>Christopher Elbe</li>
    <li>Johnathan Otten</li>
</ul>



