@{
	ViewData["Title"] = "Person Info";
}
<br />
<h1 class="text-info text-center display-4 font-weight-bold">Person Info</h1>
<hr /><br />

<h4 class="text-info text-center">Austin Kirk</h4>
<br />
<p class="text-center">Hello! My name is Austin Kirk and I am a junior at UC. I study IT focusing on Software Development as well as Game Design & Simulation.</p>
<p class="text-center"> Some of my favorite games include Skyrim, Rocket League, and Mortal Kombat</p>
<br />

<h4 class="text-info text-center">Benjamin Gomori</h4>
<br />
<p class="text-center">Hello, my name is Benjamin Gomori. I’m majoring in IT with a focus on Software Development at the University of Cincinnati. I enjoy playing</p>
<p class="text-center">chess, poker, and soccer.</p>

<br />

<h4 class="text-info text-center">Brandon Zachary</h4>
<br />
<p class="text-center">Hello, my name is Brandon Zachary. I am studying Information Technology at the University of Cincinnati, with a focus on Software Development. </p>
<p class="text-center">My favorite games include Rocket League, Settlers of Catan, and Blackjack.</p>

<br />

<h4 class="text-info text-center">Christopher Elbe</h4>
<br />
<p class="text-center">Hello, my name is Chris, and I'm Senior at the University of Cincinnati. My major is Information Technology focusing on the Software Development track</p> 
<p class="text-center">along with a secondary track in Game Development and Simulation. A few of my favorite games are Divinity Original Sin II, Skyrim, and Escape from Tarkov.</p>
<br />

<h4 class="text-info text-center">Johnathan Otten</h4>
<br />
<p class="text-center">Hello, my name is Johnathan Otten. I’m a junior at UC studying IT with a focus in Software Development and also Data Technologies starting in the fall. </p>
<p class="text-center">Some of my favorite games are Madden, Assassins Creed, and Civilization.</p>

<br />

