@{
    ViewData["Title"] = "Privacy Policy";
}

<br />
<h1 class="text-info text-center display-4 font-weight-bold">@ViewData["Title"]</h1>

<hr />

<p>This game rating application was created to be free to use. By participating, you are voluntarily subjecting your opinions to the public. Be forewarned that others may express opinions on certain games that are different from your own.</p>
<p>This application will not share your data with any third-party services in any way. No personal information is required to use this application.</p>
<p>By using this application, you automatically agree to the collection and use of data you insert into this application. If you have any further questions, please email us.</p>